*{
    padding: 0;
    margin: 0;
}
.encabezado {
    width: 100%;
    background-color: #fffdfd;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px #c2c2c2; 
    display: grid;
    grid-template-columns: 200px 200px ;
    grid-template-rows: 80px ;
    grid-gap: 1rem;
}
.imagen_principal {
    padding: 0 60px;
    grid-row: 1 / 4;
}
.img_baner {
    padding-top: 20px;
    grid-column: 11 / 12;
}
.baner {
    padding: 0;
    margin: -2px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4CAF50;
}

li {
    float: left;
    border-right:1px solid rgb(223, 214, 214);
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #3e8641;
}

.active {
    background-color: #4CAF50;
}